<!-- Search panel -->
<div class="container center-content">
    {{#if results}}
    <div class="search-results">
    {{else}}
    <div class="search-results no-scroll">
    {{/if}}
    <div class="panel">
        <form action="/search" method="POST">
            <input type="search" class="search-bar" name="search" />
            <button type="submit" class="btn-search"><i class="fas fa-search fa-2x fa-fw    "></i></button>
        </form>
        {{#if result}}
            {{#each result}}
                <div class="item">
                    <h3>{{name}}</h3>
                    <p>{{form}} - £{{price}}</p>
                    <a href="/plant/{{name}}" class="btn-wide">View</a>
                </div>
            {{/each}}
        {{/if}}
    </div>
</div>